body {
  margin-top: 0;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: green;
  border: 2px solid black;
  border-radius: 70%;
  animation: bounce 0.5s ease-in-out infinite;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-100px); }
  100% { transform: translateY(0); }
}











/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fff;
    margin-top: 0;
}

.loader-container {
    width: 100px;
    height: 100px;
}

.loader {
    width: 100%;
    height: 100%;
    border: 10px solid #eee; 
    border-top: 10px solid #333; 
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */

/* body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.loading-bar {
  width: 300px;
  height: 20px;
  background-color: #333;
  border-radius: 10px;
}

.progress {
  height: 100%;
  width: 0%;
  background-color: white;
  animation: load 3s infinite;
}

@keyframes load {
  0% { width: 0%; }
  50% { width: 80%; }
  100% { width: 0%; }
} */

