  .container {
    width: 100%;
    height: 100px;
    background-color: #f0f0f0;
    position: relative;
    overflow: hidden;
  }

  .block {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    position: absolute;
    left: 0;
    top: 25px;
    animation: moveRight 3s linear forwards;
  }

  @keyframes moveRight {
    from { left: 0; }
    to { left: calc(100% - 50px); }
  }



    .animated-text {
    font-size: 36px;
    font-weight: bold;
    color: red;
    animation: colorChange 2s infinite alternate;
  }

  @keyframes colorChange {
    from { color: red; }
    to { color: blue; }
  }

    .block {
    width: 100px;
    height: 100px;
    background-color: #e74c3c;
    margin: 50px auto;
    animation: rotateBlock 2s linear infinite;
  }

  @keyframes rotateBlock {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }





    .block {
    width: 100px;
    height: 100px;
    background-color: #2ecc71;
    margin: 50px auto;
    animation: scaleBlock 2s infinite alternate;
  }

  @keyframes scaleBlock {
    from { transform: scale(1); }
    to { transform: scale(1.5); }
  }