body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #6a95ff, #9ed0ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    border-radius: 20px;
    text-align: center;
    width: 350px;
}

button {
    background-color: #4a7cff;
    color: white;
    border-radius: 12px;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background-color: #335dd9;
}
