.card{
    display: flex;
    align-items: center;
    gap: 2px;
    height: 70vh;
    border-radius: 12px;
    background-color: orange;
    width: 50vh;
    justify-content: center;
    flex-direction: column;
}

.card2{
    display: flex;
    align-items: center;
    gap: 2px;
    border-radius: 12px;
    height: 70vh;
    background-color: rgb(72, 72, 142);
    width: 50vh;
    justify-content: center;
    flex-direction: column;
}

.card3{
    display: flex;
    align-items: center;
    gap: 2px;
    border-radius: 12px;
    background-color: rgb(6, 41, 6);
    height: 70vh;
    width: 50vh;
    justify-content: center;
    flex-direction: column;
}

.img1{
    transform: translate(1000, -100);
}

.card-Text{
    color: white;
}
.card-Text2{
    color: white;
}
.card-Text3{
    color:white;
}
