.purple {
    background-color: gray; 
    width: 60px;
    height: 60px;
}

.white {
    background-color: white;
    width: 60px;
    height: 60px;
}

.gray {
    background-color: green; 
    width: 60px;
    height: 60px;
}