
#box {
    width: 200px;
    height: 200px;
    background-color: lightblue; 
    margin: 20px auto;
    border: 2px solid #000;
}


button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}


.container {
    text-align: center;
}
