/* 
body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: gray;
  width: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}

h2 {
  color: white;
  margin-top: 20px;
}

.location {
  color: greenyellow;
  margin-top: 10px;
}

.description {
  color: white;
  margin-top: 10px;
  text-align: center;
}

.button {
  background-color: greenyellow;
  color: black;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
} */








body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.card {
  background-color: gray;
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

h2 {
  color: white;
  margin-top: 20px;
}

.location {
  color: greenyellow;
  margin-top: 10px;
}

.description {
  color: white;
  margin-top: 10px;
  text-align: center;
}

.button {
  background-color: greenyellow;
  color: black;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
}
