/*რესპონსივი - გვეხმარება შევცალოთ ზომა ანუ ყველა ეკრანინს ზომაზე გამოჩნდეს სხვანაირად*/


/* შექმენით საიტი, სადაც თავიდან გექნებათ ყვითელი პარაგრაფი, როდესაც ეკრანის ზომა ჩამოცდება 700ს, 
ტექსტის ფერი გახდეს თეთრი, ფონი კი წითელი */

body{
    background-color: aqua;
}

p{
    background-color: yellow;
}

@media (max-width: 700px) {
    body{
        background-color: red;
    } 
    p{
        background-color: white;
    }

}
